/**
 * Style for AjaxToolbar
 *
 * @category	design
 * @package 	base_default
 * @author  	Shitikov Dmitry <shitikovda@gmail.com>
 * @description Test for position Magento developer
 * @license 	http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0
 */
.field {
    clear:both;
    text-align:right;
}
.field > label {
    float:left;
    color: #FFFFFF;
}
.field > #comment {
    resize: vertical;
}
#form-request {
    float:left;
    width: 40%;
    height: 40%;
}
#send-request {
    float: left;
    margin-top: 1em;
}
#requestprice {
    float: right;
    top: 0;
}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}
.modal-content {
    margin: auto;
    padding: 20px;
}
.close {
    color: #FFFFFF;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 600px) {
    .modal-content {
        width: 70%;
        height: 70%;
    }
    #form-request {
        width: 70%;
        height: 70%;
    }
}
@media (min-width: 600px) and (max-width: 1279px) {
    .modal-content {
        width: 30%;
        height: 30%;
    }
    #form-request {
        width: 30%;
        height: 30%;
    }
}
@media (min-width: 1280px) and (max-width: 1439px) {
    .modal-content {
        width: 25%;
        height: 25%;
    }
    #form-request {
        width: 25%;
        height: 25%;
    }
}
@media (min-width: 1440px) {
    .modal-content {
        width: 20%;
        height: 20%;
    }
    #form-request {
        width: 20%;
        height: 20%;
    }
}